@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="content">
    <div class="card card-body">
        <div class="col mx-auto">
            <div class="auth-form-box">
                <div class="text-center mb-7">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="#">
                        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img src="~/assets/img/icons/logo.png" alt="phoenix" width="58" /></div>
                    </a>
                    <h4 class="text-body-highlight">Reset new password</h4>
                    <p class="text-body-tertiary">Type your new password</p>
                </div>
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="position-relative mb-2" data-password="data-password">
                        <input asp-for="Input.OldPassword" class="form-control form-icon-input pe-6" id="password" type="password" placeholder="Type new password" data-password-input="data-password-input" />
                        <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

                    </div>
                    <div class="position-relative mb-2" data-password="data-password">
                        <input asp-for="Input.NewPassword" class="form-control form-icon-input pe-6" id="password" type="password" placeholder="Type new password" data-password-input="data-password-input" />
                        <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="position-relative mb-4" data-password="data-password">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-icon-input pe-6" id="confirmPassword" type="password" placeholder="Cofirm new password" data-password-input="data-password-input" />
                        <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    </div>
                    <button class="btn btn-primary w-100" type="submit">Set Password</button>

                    @* <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button> *@
                </form>
                <form class="mt-5">
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
